<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite">
    <parameter name="userId" value="19"/>
    <test verbose="2" preserve-order="true" name="/Users/jyoti.gautam/IdeaProjects/YouTube/src/test/java/apiTestWithrestAssured/DataDrivenExamples.java">
        <classes><class name="apiTestWithrestAssured.DataDrivenExamples">
            <methods>
                <include name="test_delete2"/>
            </methods></class></classes></test></suite>